/* NEEDS FIXING
-Navbar should be centered
-serchforride button centered
- pictures of capacity
- sign up kick out main page
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ENTIRE WEBPAPP */
.App {
  margin: 0% 10%;
  padding: 15vh 50px 100vh 50px;
  background-color: rgba(228, 228, 228, 0.74);
  font: 18px;
  font-weight: bold;
  font-style: conde;
  z-index: -1;
  font-family: 'Roboto', sans-serif;  
color: rgb(59, 59, 59);
  font-weight: 500;
}

html {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/298018/pexels-photo-298018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  /* Text */
  font-weight: bolder;
}

h3 {
  font-weight: 1500;
  font-size: larger;
  text-shadow: #FFFFFF 0 0 5px;
}

input {
  border: none;
border-radius: 10px;
box-shadow: rgb(90, 90, 90) 0px -2px 4px ;
margin: 5px;
padding: 3px 3px 3px 10px;
}

button:hover{
  color:#121212;
}

/* NAVBAR UPPER */

 button:hover{
  color:#121212;
  /* background-color:rgb(255, 0, 0); */
  background-image: linear-gradient(144deg,rgb(255, 0, 0), #5B42F3 50%,#fa813b);
  transition: all 1s ease;
  transform: scale(1.1) perspective(1px);
}

.nav button:hover {
  transform: translate3d(0px, 5px, 0px) scale(1.1) perspective(1px)
}

#ride-instead-btn {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  box-shadow: #00DDEB 0 0 40px;
}

button {
position: relative;
align-items: center;
background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
border: 0;
border-radius: 8px;
box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
box-sizing: border-box;
color: #FFFFFF;
display: flex;
justify-content: center;
max-width: 100%;
padding: 0.5em 2em;
text-decoration: none!important;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
cursor: pointer;
transition: transform .75s ease-in-out;
margin:  5px;
display: flex;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

a {
  text-decoration: none;
  color: #ffff;
  font-weight: 900;
  /* border-bottom:3px solid #ffffff ; */
}

/* NAVBAR */
.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw!important;
  z-index: 100;
  /* align-items: center; */
  background-color:rgba(197, 0, 0, 0.897);
  background-image: linear-gradient(2deg,#f5a0a0b2, rgba(197, 0, 0, 0.897) 50%,#740202);
  transition: background-color 1s linear;
  -webkit-transition: background-color 0.2s linear;
  display: flex;
  justify-content: center;
  padding: 1.5vh;
}

#brand-logo {
height: 2.5em;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
border-radius: 5px;
position: absolute ;
left:4%;
border: solid white 3px;
}
#brand-text {
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  position: absolute ;
  left:10%;
  border: solid white 2px;
  }

/* LOWER BAR */
  .go-to-search {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    padding: 20px;
    align-items: center;
    overflow: hidden;
    /* position: fixed; */
    bottom: auto;
  }
/* HOME VIEW */

.home-view {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  /* background-image: linear-gradient(90deg,#ffffff00 0%, #b8f1ffbd 45% 65%, #ffffff00) ;
  height: 120%;
  padding: 20vh 0;
  margin-top: 0; */
}
.home-view h2 {
  box-shadow: #000000 2px 5px 10px, #ff1c1c -2px -4px 7px, #008cff -1px 2px 14px;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.home-view  h3 {
  padding: 3px;
  width: 20%;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
  background-image: linear-gradient(90deg,#ffffff00 0%, #00318b7e 20% 80%, #ffffff00) ;
}

.home-view article article{
  background-image: linear-gradient(80deg, #0278d84d 50%, #004c8b13) ;
border-radius: 10px;
padding: 1px 0 0 0;
margin-bottom: 30px;
}

.home-view p {
margin: 0 5%;
}

.home-view img {
  border-radius: 10px;
  box-shadow: #000000 2px 5px 10px;
  margin: 5px;
  margin-bottom: 5%;
}

.mitBahn-greet {
  background-image: linear-gradient(80deg, #0278d836 30%, #8b000042) ;

  margin: 5%;
}
.mitBahn-greet-text {
  margin: 15% 0;
  margin-bottom: 200px;
  /* background-image: linear-gradient(80deg, #0278d84d 50%, #004c8b13) ; */
  border-radius: 10px;
padding: 10px;
background-color: #00dbeb48;
border: 5px solid rgba(36, 167, 255, 0.336);
box-shadow: #000000 0 0 3px;
}

/* USER EDITIG PAGE */

.edit-form  label{
margin: 0 0px 0 20px;
}

.spacer-editpage {
  margin: 5vh;
}

 .btn-editpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GROUPS */

.add-ride {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-ride label {
  padding-left: 1em ;
}
.add-ride button {
  margin-left: 1em;
}

/* GROUP CARD */



.group-bar img{
  height: 1em;
  width: 60%;
  padding: 3px;
  position: relative;
  box-shadow: 0 0 30px rgb(35, 160, 167);
  border-radius: 10px;
  border: 3px solid rgb(109, 134, 163);
}

.group-bar img:hover {
    color: rgb(18, 19, 43);
    background:  linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00dbeb75);
    box-shadow: 0 0 30px rgb(36, 69, 177);
    transition: .75s ease-in;
    transition: .75s ease-out;
    border: 3px solid rgb(31, 0, 82);
}

.created-groups {
  background-color: #007fe62d;
  border-radius: 15px;
  padding: 2em;
  margin-bottom: 2em;
  border: 10px solid  #008cff7e;
  box-shadow:  #00ccff 0 0 2px;
  align-items: center;
}

.created-groups h3 {
  position: relative;
  top:-30px;
  font-size: 1.5em;
  background: linear-gradient(144deg,#af40ff3d, #5a42f350 50%,#00dbeb75);
  border-radius: 20px;
  box-shadow: #121212 0 5px 10px;
}

.joined-groups {
  background-color:#94110054;
  border-radius: 15px;
  padding: 2em;
  border: 10px solid #ff1e0059;
  box-shadow: #ff1e00 0 0 2px;
}
.joined-groups h3 {
  position: relative;
  top:-30px;
  font-size: 1.5em;
  background: linear-gradient(30deg,#ff404017, #f3429550 50%,#00ebb075);
  border-radius: 20px;
  box-shadow: #121212 0 5px 10px;
}

.created-groups a {
  text-decoration: none;
  color: #ffff;
  font-weight: 900;
  /* border-bottom:3px solid #ffffff ; */
  text-shadow: #000000 0 0 5px;
}
/* SEARCH GROUP */

.search-train {
  margin-bottom: 10vh;
}

.from,
.to:not(.end) {
  background-image: linear-gradient(-90deg, #0278d8b0 50%, #004c8b1c) ;
  position: relative;
  left: 25%;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  text-shadow: #FFFFFF 0 0 5px;
}
.start,
.end {
  /* display: flex;
  justify-content: center; */
  color: #000000;

}

.element-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  border-right: 10px solid #000000;
  height: 400%;
  padding: 10px;
  background-image: linear-gradient(90deg, #004d8b7e 10%, #004c8b1c) ;
  border-radius: 10px;
}

.search-dyn-element > a {
 display: flex;
 justify-content: space-around;
 /* align-items: flex-start; */
 border-bottom: 3px solid #4d4d4d;
}
.element-stations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 40%;
}
.element-stations > .from,
.element-stations > .to {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #3b3b3b;
  margin-left: 30%;
} 

/* GROUP DETAILS */

#message-btn {
  display: flex;
  justify-content: center;
  align-items: center;
width: 20%;
  margin-left: 40%;
  margin-right: 40%
}

.groupdetails-btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%
}

/* GROUP DETAILS */

.group-details {
  padding: 10px;
  background-image: linear-gradient(90deg, #004d8b7e 10%, #004c8b1c) ;
  border-radius: 10px;
  margin: 3vh;
}
chatMessage._id {
  background-image: linear-gradient(90deg, #004d8b7e 10%, #004c8b1c) ;
}
.message-title {
  margin-top: 10vh;
}